@charset "UTF-8";
/* 消退 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* 消退变换 */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 面包屑的过渡 */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@font-face {
  font-family: "iconfont";
  /* Project id 3296300 */
  src: url("//at.alicdn.com/t/font_3296300_s34sbr5ky.woff2?t=1649142116716") format("woff2"), url("//at.alicdn.com/t/font_3296300_s34sbr5ky.woff?t=1649142116716") format("woff"), url("//at.alicdn.com/t/font_3296300_s34sbr5ky.ttf?t=1649142116716") format("truetype");
}

.iconfont {
  font-family: "iconfont";
  font-weight: normal;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.color-primary {
  color: #1890ff;
}

.color-primary:focus, .color-primary:hover {
  color: #1890ff;
}

.color-primary-1 {
  color: #e6f7ff;
}

.color-primary-1:focus, .color-primary-1:hover {
  color: #e6f7ff;
}

.color-primary-2 {
  color: #bae7ff;
}

.color-primary-2:focus, .color-primary-2:hover {
  color: #bae7ff;
}

.color-primary-3 {
  color: #91d5ff;
}

.color-primary-3:focus, .color-primary-3:hover {
  color: #91d5ff;
}

.color-primary-4 {
  color: #69c0ff;
}

.color-primary-4:focus, .color-primary-4:hover {
  color: #69c0ff;
}

.color-primary-5 {
  color: #40a9ff;
}

.color-primary-5:focus, .color-primary-5:hover {
  color: #40a9ff;
}

.color-primary-6 {
  color: #1890ff;
}

.color-primary-6:focus, .color-primary-6:hover {
  color: #1890ff;
}

.color-primary-7 {
  color: #096dd9;
}

.color-primary-7:focus, .color-primary-7:hover {
  color: #096dd9;
}

.color-primary-8 {
  color: #0050b3;
}

.color-primary-8:focus, .color-primary-8:hover {
  color: #0050b3;
}

.color-primary-9 {
  color: #003a8c;
}

.color-primary-9:focus, .color-primary-9:hover {
  color: #003a8c;
}

.color-primary-10 {
  color: #002766;
}

.color-primary-10:focus, .color-primary-10:hover {
  color: #002766;
}

.color-success {
  color: #52c41a;
}

.color-success:focus, .color-success:hover {
  color: #52c41a;
}

.color-success-1 {
  color: #f6ffed;
}

.color-success-1:focus, .color-success-1:hover {
  color: #f6ffed;
}

.color-success-2 {
  color: #d9f7be;
}

.color-success-2:focus, .color-success-2:hover {
  color: #d9f7be;
}

.color-success-3 {
  color: #b7eb8f;
}

.color-success-3:focus, .color-success-3:hover {
  color: #b7eb8f;
}

.color-success-4 {
  color: #95de64;
}

.color-success-4:focus, .color-success-4:hover {
  color: #95de64;
}

.color-success-5 {
  color: #73d13d;
}

.color-success-5:focus, .color-success-5:hover {
  color: #73d13d;
}

.color-success-6 {
  color: #52c41a;
}

.color-success-6:focus, .color-success-6:hover {
  color: #52c41a;
}

.color-success-7 {
  color: #389e0d;
}

.color-success-7:focus, .color-success-7:hover {
  color: #389e0d;
}

.color-success-8 {
  color: #237804;
}

.color-success-8:focus, .color-success-8:hover {
  color: #237804;
}

.color-success-9 {
  color: #135200;
}

.color-success-9:focus, .color-success-9:hover {
  color: #135200;
}

.color-success-10 {
  color: #092b00;
}

.color-success-10:focus, .color-success-10:hover {
  color: #092b00;
}

.color-warning {
  color: #faad14;
}

.color-warning:focus, .color-warning:hover {
  color: #faad14;
}

.color-warning-1 {
  color: #fffbe6;
}

.color-warning-1:focus, .color-warning-1:hover {
  color: #fffbe6;
}

.color-warning-2 {
  color: #fff1b8;
}

.color-warning-2:focus, .color-warning-2:hover {
  color: #fff1b8;
}

.color-warning-3 {
  color: #ffe58f;
}

.color-warning-3:focus, .color-warning-3:hover {
  color: #ffe58f;
}

.color-warning-4 {
  color: #ffd666;
}

.color-warning-4:focus, .color-warning-4:hover {
  color: #ffd666;
}

.color-warning-5 {
  color: #ffc53d;
}

.color-warning-5:focus, .color-warning-5:hover {
  color: #ffc53d;
}

.color-warning-6 {
  color: #faad14;
}

.color-warning-6:focus, .color-warning-6:hover {
  color: #faad14;
}

.color-warning-7 {
  color: #d48806;
}

.color-warning-7:focus, .color-warning-7:hover {
  color: #d48806;
}

.color-warning-8 {
  color: #ad6800;
}

.color-warning-8:focus, .color-warning-8:hover {
  color: #ad6800;
}

.color-warning-9 {
  color: #874d00;
}

.color-warning-9:focus, .color-warning-9:hover {
  color: #874d00;
}

.color-warning-10 {
  color: #613400;
}

.color-warning-10:focus, .color-warning-10:hover {
  color: #613400;
}

.color-danger {
  color: #ff4d4f;
}

.color-danger:focus, .color-danger:hover {
  color: #ff4d4f;
}

.color-danger-1 {
  color: #fff1f0;
}

.color-danger-1:focus, .color-danger-1:hover {
  color: #fff1f0;
}

.color-danger-2 {
  color: #ffccc7;
}

.color-danger-2:focus, .color-danger-2:hover {
  color: #ffccc7;
}

.color-danger-3 {
  color: #ffa39e;
}

.color-danger-3:focus, .color-danger-3:hover {
  color: #ffa39e;
}

.color-danger-4 {
  color: #ff7875;
}

.color-danger-4:focus, .color-danger-4:hover {
  color: #ff7875;
}

.color-danger-5 {
  color: #ff4d4f;
}

.color-danger-5:focus, .color-danger-5:hover {
  color: #ff4d4f;
}

.color-danger-6 {
  color: #f5222d;
}

.color-danger-6:focus, .color-danger-6:hover {
  color: #f5222d;
}

.color-danger-7 {
  color: #cf1322;
}

.color-danger-7:focus, .color-danger-7:hover {
  color: #cf1322;
}

.color-danger-8 {
  color: #a8071a;
}

.color-danger-8:focus, .color-danger-8:hover {
  color: #a8071a;
}

.color-danger-9 {
  color: #820014;
}

.color-danger-9:focus, .color-danger-9:hover {
  color: #820014;
}

.color-danger-10 {
  color: #5c0011;
}

.color-danger-10:focus, .color-danger-10:hover {
  color: #5c0011;
}

.color-info {
  color: #909399;
}

.color-info:focus, .color-info:hover {
  color: #909399;
}

.color-info-1 {
  color: #f4f4f5;
}

.color-info-1:focus, .color-info-1:hover {
  color: #f4f4f5;
}

.color-info-2 {
  color: #dedfe0;
}

.color-info-2:focus, .color-info-2:hover {
  color: #dedfe0;
}

.color-info-3 {
  color: #d3d4d6;
}

.color-info-3:focus, .color-info-3:hover {
  color: #d3d4d6;
}

.color-info-4 {
  color: #bcbec2;
}

.color-info-4:focus, .color-info-4:hover {
  color: #bcbec2;
}

.color-info-5 {
  color: #a6a9ad;
}

.color-info-5:focus, .color-info-5:hover {
  color: #a6a9ad;
}

.color-text-primary {
  color: #303133;
}

.color-text-regular {
  color: #606266;
}

.color-text-secondary {
  color: #909399;
}

.hierarchy {
  font-size: 12px;
  color: #909399;
}

.selected .hierarchy {
  color: #409eff;
}

.page-form,
.table-box,
.container-box {
  height: 100%;
  box-sizing: border-box;
  padding: 15px 15px 0;
  border-radius: 4px;
  background: #fff;
  overflow-y: auto;
}

.page-form .el-col,
.table-box .el-col,
.container-box .el-col {
  height: 100%;
}

.page-form .search-form .el-form-item,
.table-box .search-form .el-form-item,
.container-box .search-form .el-form-item {
  margin-right: 20px;
  margin-bottom: 10px;
}

.page-form .search-form .el-form-item:last-child,
.table-box .search-form .el-form-item:last-child,
.container-box .search-form .el-form-item:last-child {
  margin-right: 0;
}

.page-form .table-container,
.table-box .table-container,
.container-box .table-container {
  background: #fff;
  width: 100%;
  height: calc(100% - 140px);
  box-sizing: border-box;
  padding: 15px 0;
}

.page-form .table-data,
.table-box .table-data,
.container-box .table-data {
  width: 100%;
  height: calc(100% - 100px);
}

.page-form .table-data.no-page,
.table-box .table-data.no-page,
.container-box .table-data.no-page {
  height: calc(100% - 52px);
}

.page-form .el-pagination,
.table-box .el-pagination,
.container-box .el-pagination {
  text-align: center;
  margin-top: 16px;
}

.page-form .tool-bar,
.table-box .tool-bar,
.container-box .tool-bar {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid #ededed;
  border-bottom: none;
  background: #fafafa;
}

.page-form .tool-bar .tool-left .el-button--small,
.table-box .tool-bar .tool-left .el-button--small,
.container-box .tool-bar .tool-left .el-button--small {
  padding: 9px 10px;
  color: #606266;
  color: #fff;
}

.page-form .tool-bar .tool-right .el-button--small,
.table-box .tool-bar .tool-right .el-button--small,
.container-box .tool-bar .tool-right .el-button--small {
  padding: 5px 6px;
  font-size: 16px;
  color: #606266;
}

.page-form .tool-bar .tool-right .el-button:hover,
.page-form .tool-bar .tool-right .el-button:focus,
.table-box .tool-bar .tool-right .el-button:hover,
.table-box .tool-bar .tool-right .el-button:focus,
.container-box .tool-bar .tool-right .el-button:hover,
.container-box .tool-bar .tool-right .el-button:focus {
  color: #606266;
  border-color: #ededed;
  background-color: #fff;
}

.page-form .left-table,
.table-box .left-table,
.container-box .left-table {
  height: 100%;
  margin-right: 15px;
  flex-shrink: 0;
  background: #fff;
}

.page-form .left-table p,
.table-box .left-table p,
.container-box .left-table p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-form .left-table .el-table__body tr.current-row > td,
.table-box .left-table .el-table__body tr.current-row > td,
.container-box .left-table .el-table__body tr.current-row > td {
  background-color: #e6f7ff;
}

.page-form .right-table,
.table-box .right-table,
.container-box .right-table {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 15px;
  background: #fff;
}

.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  box-sizing: border-box;
  font-weight: normal;
}

.el-dialog__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  padding-bottom: 12px;
  padding-top: 15px;
}

.el-select {
  width: 100%;
}

.img-uploader {
  width: 100px;
  height: 100px;
}

.img-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-uploader .el-upload:hover {
  border-color: #40a9ff;
}

.img-uploader .el-upload .img-uploader-icon {
  font-size: 28px;
  color: #909399;
  text-align: center;
}

.img-uploader .el-upload .img {
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
}

.editorcom .el-form-item__content {
  line-height: unset;
}

.el-button [class*="el-icon-"] + span {
  margin-left: 0;
}

.checkbox-groups .checkbox-group {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

.checkbox-groups .checkbox-group h1 {
  font-size: 16px;
  font-weight: 400;
  color: #303133;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
}

.checkbox-groups .checkbox-group .el-checkbox-group {
  box-sizing: border-box;
  padding: 15px 7px 7px;
  display: flex;
  flex-wrap: wrap;
}

.checkbox-groups .checkbox-group .el-checkbox-group .el-checkbox {
  margin: 0 8px 8px;
}

.el-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

.el-dialog .el-dialog__body {
  max-height: 600px;
  overflow: auto;
}
